################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/nginx-php-cgi-service/v16
/Release
/Debug
